.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F1ECE1;
}

.App-link {
  color: #D4821F;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url('/UpdatedBar.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0; 
  font-family: Arial, sans-serif; 
}
.App {
  min-height: 100vh;
}

.navbar.fixed-navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #F1ECE1;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-logo{
  height: 40px;
  width: auto;
  max-height: 100%;
  display: inline-block;
  object-fit: contain;
}

.custom-button{
  background-color:#D4821F !important ;
  border-color: #D4821F !important;
  color: white;
}

.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card{
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #e2d9ce;
  text-align: center;
}