.plain-list {
    list-style-type: none;
}

.home-container {
    background-color: goldenrod;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}