html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .recipe-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin-top: -10vh; /* Move content 25% higher towards the top */
  }

  .recipe-card{
    max-width: 800px;
    width: 100%;
  }
  
  .recipe-details-container .recipe-description {
    font-style: italic;
    color: #555;
    margin-bottom: 20px;
  }

  .recipe-card .recipe-image { /* Added recipe-image */
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .recipe-details-container .recipe-card {
    max-width: 800px;
    border: 3px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-details-container .card-img-top {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .recipe-details-container .list-group-item:nth-child(odd) {
    background-color: #e9ecef;
  }
  