.cocktail-recipes-list-container {
    padding: 20px;
    text-align: center;
}

.cocktail-recipes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cocktail-recipe {
    margin-bottom: 20px;
}

.cocktail-recipe .card {
    border: 1px solid #F1ECE1;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cocktail-recipe .recipe-image{
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; 
}

.cocktail-recipe .card-title {
    margin-top: 0;
    text-align: center;
    flex: 1;
}

.cocktail-recipe .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F1ECE1;
}